.home {
  padding: 7.7rem 2rem !important;
  min-height: 100vh;
}

.content .title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.content .description {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.content .genre .genre-title {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}
