.navigation-bar {
  background-color: black !important;
  padding: 0 2rem !important;
}

.navigation-bar .logo {
  color: #e50914;
  font-weight: 100;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
}

.navigation-bar .logo:hover {
  color: #e50914;
}

.navigation-bar .logo .n {
  font-size: 2.5rem;
}
.navigation-bar .logo .e {
  font-size: 2.4rem;
}
.navigation-bar .logo .t {
  font-size: 2.3rem;
}
.navigation-bar .logo .f {
  font-size: 2.3rem;
}
.navigation-bar .logo .l {
  font-size: 2.3rem;
}
.navigation-bar .logo .i {
  font-size: 2.4rem;
}
.navigation-bar .logo .x {
  font-size: 2.5rem;
}

.navigation-bar .tagline,
.login,
.btn-join {
  color: white !important;
  font-size: 0.8rem !important;
}

.navigation-bar .btn-join {
  border-radius: 3px;
  border-color: transparent;
  background-color: #e20813;
  padding: 0.4rem 2rem;
}

.navigation-bar .btn-join:hover {
  background-color: red;
  border-color: transparent;
}

.navigation-bar .login .btn-login {
  padding: 0.4rem 1.2rem;
  border: 1px solid #888888;
  border-radius: 3px;
}

.navigation-bar .login:hover {
  background-color: black;
  color: white;
}

.navigation-bar .login .btn-login:hover {
  background-color: #8888;
  color: white;
}
